<div class="card">
  <a href="/posts/{{id}}">
    <div class="card-header">
      {{title}}
      <p class="card-text"> {{date_created}} </p>
    </div>
    <div class="card-body">
      <p class="card-text"> {{text}} </p>
    </div>
  </a>
</div>