<form id="login" class="m-4">
  <div class="form-group">
    <label for="input-username">Username</label>
    <input type="input" class="form-control" id="login-username" placeholder="Enter username">
  <div class="form-group">
    <label for="input-password">Password</label>
    <input type="password" class="form-control" id="login-password" placeholder="Password">
  </div>
  <button id="login-btn" type="submit" class="btn btn-primary">Login</button>
  <a href="/signup"><small  class="form-text">sign up instead</small></a>
</form>

<script src="./js/login.js"></script>