<form class="m-4">
  <div class="form-group">
    <label for="input-username">Username</label>
    <input type="input" class="form-control" id="input-username" placeholder="Enter username">
  <div class="form-group">
    <label for="input-password">Password</label>
    <input type="password" class="form-control" id="input-password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up!</button>
  <a href="/login"><small id="login" class="form-text">login instead</small></a>
</form>